button{
  position:center;  
  display: block;
  align-items: center;
  justify-content: center;
  margin: 20px auto;  
  color:red;
  background-color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;  

}
button:hover{
  background-color: red;
  color: black;
  cursor: pointer;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: red;
}
